        .page-header {
              padding-bottom: 9px;
              margin: 10px 0 2px;             
        }
        .nav-pills>li {
            float: left;
            padding-left: 25px;
        }
        .navbar-nav>li {
          float: left;
          padding-left: 75px;
        }
        body {
            
            background: #fbfbfb url(bg.jpg) 0 0 repeat;
            font-family: "Lucida Grande", Verdana, sans-serif;
            font-size: 12px;
            color: #666;
            line-height: 20px;
            -webkit-text-size-adjust: none;
        }
        .well {
          min-height: 20px;
          padding: 5px;
          margin-bottom: 20px;
          background-color: #f5f5f5;
          border: 1px solid #e3e3e3;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        }
        .container {
          padding-right: 0px;
          padding-left: 0px;
          margin-right: auto;
          margin-left: auto;
        }
        #nombretipo{
          padding-top: 11px;
          width: 310px;
          right: -70px;
        }


        #deco {
            position: fixed;
            height: 50px;
            width: 150px;
            bottom: -3%;
            right: 0%;
            opacity: .30;
            -moz-opacity: .30;
            filter:alpha(opacity=30);
            float: left;
              Z-INDEX: -1;

      }

  @media (min-width: 768px) {

      #deco {
          position: fixed;
          height: 150px;
          width: 300px;
          bottom: -3%;
          right: 0%;
          opacity: .30;
          -moz-opacity: .30;
          filter:alpha(opacity=30);
          float: left;
          Z-INDEX: -1;
          
      }
       .login{
          width:400px;   border: 1px solid transparent; border-radius: 4px;   border-color: #ddd; padding:5px;
        }
  }

  .login{
    width:300px;   border: 1px solid transparent; border-radius: 4px;   border-color: #ddd; padding:5px;
  }
/*

  .well{
    border: 1px solid #D8B6B6;
  }

    .panel{
    border: 1px solid #D8B6B6;
  }*/


a.dp-choose-date {
  float: left;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 5px 3px 0;
  display: block;
  text-indent: -2000px;
  overflow: hidden;
  background: url(../img/calendar.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
  background-position: 0 -20px;
  cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
  width: 140px;
  float: left;
}